# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List different data science tools
- How to evaluate arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Tensorflow
4. Scikit-learn

| Data Science Tools |
| ---------------- |
| Jupyter Notebook |
| RStudio |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Sivan Gireesan